.book-appointment { 
  display: flex; 
  align-items: center; 
  height: 100vh; 
  overflow-y: hidden; 
} 

.book-appointment-image { 
  width: 100%; 
} 

.book-appointment-options { 
  position: absolute; 
  display: flex; 
  top: 40vh; 
  left: 5%; 
} 

.book-appointment-option-buttons { 
  margin: 20px; 
  padding: 20px; 
  width: 300px; 
  border: 0px; 
  border-radius: 50px; 
  cursor: pointer; 
  font-size: 1.2rem; 
} 

.book-appointment-option-buttons:hover { 
  background-color: black; 
  color: white; 
}
